.header {
    &__nav {
        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        padding: 6px 0;
    }

    &__list {
        display: flex;
        gap: 70px;
    }

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
}